<!DOCTYPE html>
<html>
  <head>
    <title>FluxReact</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
  <link rel="manifest" href="/manifest.json" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" />
<meta name="apple-mobile-web-app-capable" content="yes"></head>

  <body>
    <%= yield %>
  </body>
</html>
